html,body {
  min-height: 100%;
}

body {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0, rgb(94,179,255,0.5)),
    color-stop(1, rgb(34,75,156,0.3))
  ), url('../images/home-bg.jpg');

  /*background-image: -o-linear-gradient(bottom, rgb(94,179,255) 0%, rgb(34,75,156) 100%);*/
  /*background-image: -moz-linear-gradient(bottom, rgb(94,179,255) 0%, rgb(34,75,156) 100%);*/
  /*background-image: -webkit-linear-gradient(bottom, rgb(94,179,255) 0%, rgb(34,75,156) 50%);*/
  /*background-image: -ms-linear-gradient(bottom, rgb(94,179,255) 0%, rgb(34,75,156) 100%);*/
  /*background-image: linear-gradient(to bottom, rgb(94,179,255) 0%, rgb(34,75,156) 100%);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#main {
  padding-top: 120px;
}

#main h1 {
  width: 100%;
  text-align: center;
}

#main h2 {
  margin-left: 6px;
  width: 100%;
  font-size: 2em;
  text-align: center;
  font-weight: normal;
  font: Helvetica, sans-serif;
  text-shadow: #888 0.01em 0.05em 0.15em;
  color: #fff;
  text-transform: uppercase;
  /*padding-bottom: 40px;*/
}

#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8%;
  width: 500px;
  margin: 0 auto;
  padding-top: 36px;
  text-shadow: #888 0.01em 0.05em 0.15em;
  text-transform: uppercase;
  text-align: center;
}

#footer p {
  color: #fff;
  margin-top: 20px;
}

#footer .association {
  float: none;
  margin: 0 auto;
}

#footer a {
  color: #fff;
}
