#header {
  border-bottom: 1px #888 solid;
  padding-bottom: 0;
}

#header-links {
  text-align: right;
  margin-top: 35px;
  font-size: 16px;
}

.img-container img {
  display: block;
  margin: 0 auto;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  #header h1{
    text-indent: -9999px;
    background-image: url("/assets/images/avatar_page_header@2x.png");
    background-repeat: no-repeat;
    background-size: 220px 32px;
  }
}

#content {
  padding-top: 15px;
}

.bio {
  padding-top: 30px;
}

@media (max-width: 992px) {
  .nav-tabs > li {
    float: none;
  }

  .bio-header {
    text-align: center;
    padding-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .nav-tabs > li {
    float: none;
  }

  #header-links {
    display: none;
  }

  #header .col-xs-4 {
    width: 100%;
  }

  #header h1 a {
    width: 100%;
  }

  #header h1 a img {
    margin: 0 auto;
    display: block;
  }
}
