body {
  background-color: rgb(111, 191, 77);
}
#main {
  padding-top: 120px;
}

#main h1 {
  width: 100%;
  font-family: 'Port Lligat Slab', cursive;
  font-size: 6em;
  text-align: center;
  padding-bottom: 40px;
  color: #fff;
  text-shadow: #555 0.01em 0.05em 0.18em;
  opacity: 0;
}

#main h2 {
  width: 100%;
  font-size: 2em;
  text-align: center;
  font-weight: normal;
  padding-bottom: 20px;
  opacity: 0;
  color: #fff;
}

#main h3 {
  width: 100%;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  opacity: 0;
  color: #fff;
}

#default-container {
  margin: 0 auto;
}

#about h3 {
  padding-top: 2px;
  color: #888;
  font-size: 16px;
}

#about h3 strong {
  text-transform: uppercase;
}